<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>EasyWeb</title>
    <link rel="stylesheet" href="../static/plugins/layui/css/layui.css" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" href="../static/plugins/select2/css/select2.min.css" th:href="@{/plugins/select2/css/select2.min.css}"/>
    <style>
        #editForm .layui-form-select{
            display: none;
        }
        .img-outer{
            height: 100px;
            width: 120px;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
        }
        .img-del{
            position: fixed;
            color: red;
            font-weight: bolder;
        }

        .upload-img{
            width: 100px;
        }
        .select2-container--default .select2-selection--single{
            background-color: #fff;
            border: 1px solid #e4e5e8;
            border-radius: 0px;
        }

        .select2-container .select2-selection--single{
            height:36px;
        }
    </style>
</head>
<body class="layui-layout-body" style="margin-top: 20px; padding-left: 20px; padding-right: 20px;">
<form id="editForm" class="layui-form model-form" action="">
    <input name="id" type="hidden" id="user-edit-id"/>
    <div class="layui-form-item">
        <div class="layui-inline" style="width: 48%;">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input name="title" placeholder="请输入标题"  lay-filter="editForm"type="text" class="layui-input" required id="guest-talk-title"/>
            </div>
        </div>
        <div class="layui-inline" style="width: 48%;">
            <label class="layui-form-label">大咖姓名</label>
            <div class="layui-input-block">
                <select id="guest-name" name="role" class=""  lay-filter="editForm"style="clear: both; width: 100%;height: 35px;">
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <div class="layui-inline" style="width: 48%;">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea name="content"  lay-filter="editForm" placeholder="请输入内容" class="layui-textarea" style="height: 210px;" id="guest-talk-content"></textarea>
            </div>
        </div>
        <div class="layui-inline" style="width: 48%;vertical-align: top;height: 100%;">
            <label class="layui-form-label">咨询图片</label>
            <div class="layui-input-block" style="text-align: center;">
                <div id="img-list" style="height: 120px;">
                </div>
<!--                <button type="button" class="layui-btn" id="guest-talk-upload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>-->

                <div class="layui-upload-drag" id="guest-talk-upload">
                    <i class="layui-icon">&#xe654;</i>
                </div>
            </div>
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">知识链接</label>
        <div class="layui-input-block">
            <input name="knowledge"   lay-filter="editForm"  type="text" class="layui-input" id="guest-talk-knowledge"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style=" width:9%;" >是否在大屏展示</label>
        <div class="layui-input-block">
            <input type="radio" name="isShowScreen" value="0" title="展示" checked>
            <input type="radio" name="isShowScreen" value="1" title="不展示" >
        </div>
    </div>

    <div class="layui-form-item model-form-footer" style="text-align: center;">
        <button class="layui-btn" lay-filter="btnSubmit" lay-submit>保存</button>
        <button class="layui-btn layui-btn-primary"  lay-filter="btnCancle"type="button" id="btnCancel">取消</button>
    </div>
</form>


<script type="text/javascript" src="../static/plugins/jquery/jquery/jquery-3.2.1.min.js" th:src="@{/plugins/jquery/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" src="../static/plugins/layui/layui.all.js" th:src="@{/plugins/layui/layui.all.js}"></script>
<script type="text/javascript" src="../static/plugins/select2/js/select2.min.js" th:src="@{/plugins/select2/js/select2.min.js}"></script>
<script type="text/javascript" src="../static/js/common/common.js" th:src="@{/js/common/common.js}"></script>
<script type="text/javascript" src="../../../static/js/management/hotmessage/guesttalk/expo.guesttalk.add.js" th:src="@{/js/management/hotmessage/guesttalk/expo.guesttalk.add.js}"></script>

</body>
</html>