<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>EasyWeb</title>
    <link rel="stylesheet" href="../static/plugins/layui/css/layui.css" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" href="../static/plugins/select2/css/select2.min.css" th:href="@{/plugins/select2/css/select2.min.css}"/>

</head>
<body class="layui-layout-body" style="margin-top: 20px; padding-left: 20px; padding-right: 20px;">
	<div style="height:550px;overflow-y:auto;padding-bottom:30px;">
	<fieldset class="layui-elem-field layui-bg-gray">
  	  <div class="layui-field-box">活动信息 </div>
	</fieldset>
        
	<form id="editForm" class="layui-form model-form" action="" >
		<input name="activityId" type="hidden" th:value="${activity.activityId}" />
        <div class="layui-form-item">
        	<div class="layui-row" style="margin-bottom:20px;">
        		<div class="layui-col-md6">
        			<div class="layui-row">
		        		<div>
				            <label class="layui-form-label" style="width:100px;">活动名称</label>
				        </div>
				        <div class="layui-col-md8">
				            <div class="layui-input-block" style="margin-left:0px;">
				                <input name="name" id="name" type="text" autocomplete="off" class="layui-input" maxlength="20" lay-verify="required" th:value="${activity.name}" disabled/>
				            </div>
				        </div>
				   </div>
        		</div>
        	</div>
        	
        	<div class="layui-row" style="margin-bottom:20px;">
        		 <div class="layui-col-md6">
			    	<div class="layui-row">
			        		<div>
					            <label class="layui-form-label" style="width:100px;">活动时间</label>
					        </div>
					        <div class="layui-col-md6">
					            <div class="layui-input-block" style="margin-left:0px;">
					                <input name="activityTime" id="activityTime" type="text" autocomplete="off" class="layui-input" readonly th:value="${activity.activityTime}" disabled/>
					            </div>
					        </div>
					</div>
			   	</div>
        	</div>
        	
        	<div class="layui-row" style="margin-bottom:20px;">
        		<div class="layui-col-md12">
        			<div class="layui-row">
		        		<div>
				            <label class="layui-form-label" style="width:100px;">活动地点</label>
				        </div>
				        <div class="layui-col-md8">
				            <div class="layui-input-block" style="margin-left:0px;">
				                <div class="layui-input-inline">
					                <select id="location-select" name="locationType" lay-filter="locationSelect" disabled>
					                    <option value=''>-请选择-</option>
					                    <option value="0" th:selected="${activity.locationType=='0'}">展馆</option>
					                    <option value="1" th:selected="${activity.locationType=='1'}">会场</option>
					                </select>
								</div>
								<div th:class="${activity.locationType eq '0'}  or ${activity.locationType eq ''} or ${activity.locationType eq null}? 'layui-input-inline layui-show':'layui-input-inline layui-hide'" id="pavilition-div">
							      <select id="pavilion-select" name="pavilionDic" lay-filter="pavilionSelect" lay-search disabled>
							      <!-- <option value=''>-请选择-</option> -->
							       <option  th:each="pav:${pavlist}" th:value="${pav.id}" th:text="${pav.displayName }" th:selected="${activity.pavilionDic eq null} ? false: ${pav.id==activity.pavilionDic.id}"></option>
							      </select>
							    </div>
							    <div th:class="${activity.locationType eq '0'} or ${activity.locationType eq ''} or ${activity.locationType eq null}? 'layui-input-inline layui-show':'layui-input-inline layui-hide'" id="booth-div">
							      <select id="booth-select" name="booth" lay-search disabled>
							      <!-- <option value=''>-请选择-</option> -->
							      <option  th:each="booth:${boothlist}" th:value="${booth.id}" th:text="${booth.code }" th:selected="${activity.booth eq null} ? false: ${booth.id==activity.booth.id}"></option>
							      </select>
							    </div>
							    <div th:class="${activity.locationType eq '1'}? 'layui-input-inline layui-show':'layui-input-inline layui-hide'" id="exhibition-div">
							      <select id="exhibition-select" name="exhibition" lay-filter="exhibitionSelect" lay-search disabled>
							      <!-- <option value=''>-请选择-</option> -->
							      <option  th:each="exh:${exhlist}" th:value="${exh.id}" th:text="${exh.name }" th:selected="${activity.exhibition eq null} ? false: ${exh.id==activity.exhibition.id}"></option>
							      </select>
							    </div>
							    <div th:class="${activity.locationType eq '1'}? 'layui-input-inline layui-show':'layui-input-inline layui-hide'" id="exhibitionhall-div">
							      <select id="exhibitionhall-select" name="exhibitionHall" lay-search disabled>
							      <!-- <option value=''>-请选择-</option> -->
							      <option  th:each="hall:${halllist}" th:value="${hall.id}" th:text="${hall.name }" th:selected="${activity.exhibitionHall eq null} ? false: ${hall.id==activity.exhibitionHall.id}"></option>
							      </select>
							    </div>
				            </div>
				        </div>
				   </div>
        		</div>
        	</div>
        	
        	<div class="layui-row">
        		 <div class="layui-col-md6">
			    	<div class="layui-row">
			        		<div>
					            <label class="layui-form-label" style="width:100px;">举办方</label>
					        </div>
					        <div class="layui-col-md6">
					            <div class="layui-input-block" style="margin-left:0px;">
					                <select id="ent-select" name="enterprise" lay-filter="entSelect" lay-search disabled>
						                 <option value=''>-请选择-</option>
						                 <option  th:each="ent:${entList}" th:value="${ent.id}" th:text="${ent.name }" th:selected="${activity.enterprise eq null} ? false: ${ent.id==activity.enterprise.id}"></option>
						                 <option value='ENT'>前往企业库进行设置</option>
						            </select>
						            <a href="javascript:;" data-url="/management/config/enterprise/list" class="layui-hide" id="addEntBtn">
						            	<cite>企业库</cite>
						         	</a>
					            </div>
					        </div>
					</div>
			   	</div>
			   	
			   	<div class="layui-col-md6">
			    	<div class="layui-row">
			        		<div>
					            <label class="layui-form-label" style="width:100px;">活动介绍</label>
					        </div>
					        <div class="layui-col-md6">
					           <div class="layui-input-block" style="margin-left:0px;">
				                	<textarea name="description" class="layui-textarea" style="min-height: 200px;" id="description" th:text="${activity.description}" disabled></textarea>
				            	</div>
					        </div>
					</div>
			   	</div>
			   	
        	</div>
        </div>
        <div class="layui-form-item model-form-footer" style="text-align:center;">
            <button class="layui-btn layui-btn-primary" type="button" id="btnCancel" onclick="parent.location.reload()">关闭</button>            
        </div>
    </form>
	</div>
<script type="text/javascript" src="../static/plugins/jquery/jquery/jquery-3.2.1.min.js" th:src="@{/plugins/jquery/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" src="../static/plugins/layui/layui.all.js" th:src="@{/plugins/layui/layui.all.js}"></script>
<script type="text/javascript" src="../static/plugins/select2/js/select2.min.js" th:src="@{/plugins/select2/js/select2.min.js}"></script>
<script type="text/javascript" src="../static/js/common/common.js" th:src="@{/js/common/common.js}"></script>
<script type="text/javascript" src="../../static/js/management/activity/expo.activity.view.js" th:src="@{/js/management/activity/expo.activity.view.js}"></script>

</body>
</html>